/* universal selector - applies to all Html element Tags */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



body{
    background: #fff;
}
.gmail-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.gmail-header{
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px;
    background: #F8FAFD;
}
.header-search{
    max-width: 500px;
    background: #E9EEF6;
    border: 0px solid black;
    border-radius: 50px;
}